$color__background-body: #CB171D;
$color__background-screen:#CB171D;
$color__background-hr: #CB171D;
$color__background-button: #CB171D;
$color__background-pre: #CB171D;
$color__background-ins: #CB171D;

$color__text-screen: #FCF7ED;
$color__text-input: #FCF7ED;
$color__text-input-focus: #ECC074;
$color__link: #FCF7ED;
$color__link-visited: #FCF7ED;
$color__link-hover: #ECC074;
$color__text-main: #FCF7ED;

$color__border-button: #FCF7ED;
$color__border-button-hover: #FCF7ED;
$color__border-button-focus: #FCF7ED;
$color__border-input: #FCF7ED;
$color__border-abbr: #FCF7ED;

$color__red: #CB171D;
$color__lightyellow: #FCF7ED;
$color__darkyellow: #ECC074;
