.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

body {
	background: $color__red;
}

h2 {
	font-family:   $font__header;
	font-size: 24px;
	line-height: 20px;
	text-transform: uppercase;
	color: $color__darkyellow;
	margin-top: 0;
	margin-bottom: 10px;
}

p {
	font-family:   $font__body;
	font-size: 18px;
	line-height: 26px;
	color: $color__lightyellow;
	margin-top: 0;
	margin-bottom: 0;
}

a, a:hover {
	color: $color__lightyellow;
}

p.days, p.maplink {
	font-family:   $font__altbody;	
	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.3px;
}

.col.image-gallery {
	padding: 0;
}

.col.site-body {
	text-align: center;
min-height: 100vh;
padding-top: 60px;
padding-bottom: 60px;
display: flex;
	.site-content {
		margin: auto;
		align-self: center;
	}
}

.area {
	margin-bottom: 30px;
}

.area:last-child {
	margin-bottom: 0;
}

.flexslider.gallery {
	height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
	box-shadow: none;
	.slides, .slides li {
		width: 100%;
		height: 100%;
		display: block;
	}
	.slides li {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.flex-control-nav, .flex-direction-nav {
		display: none;
	}
}

.page-template-page-splash {
	.site-header, .site-footer {
		display: none;
	}
}

@media (min-width: 980.1px) {
	.mobile {
		display: none;
	}
}

@media (max-width: 980px) {
	.desktop {
		display: none;
	}
}