.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

body {
	background: $color__red;
}

h2 {
	font-family:   $font__header;
	font-size: 24px;
	line-height: 20px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
	-webkit-background-clip: text;   
background-clip: text;
color: $color__darkyellow;
-webkit-text-fill-color: $color__red;
-webkit-text-stroke-width: .3px;
-webkit-text-stroke-color: $color__darkyellow; 
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

h2.booking {
	margin-bottom: 40px;
}

p {
	font-family:   $font__body;
	font-size: 18px;
	line-height: 26px;
	color: $color__lightyellow;
	margin-top: 0;
	margin-bottom: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
	color: $color__lightyellow;
	text-decoration: none;
	transition: all 0.1s ease;
}

a:hover {
	color: $color__darkyellow;
	text-decoration: none;	
}

p.days, p.maplink {
	font-family:   $font__altbody;	
	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.3px;
}

.maplink {
	margin-top: 13px;
}

.maplink img {
	margin-bottom: -2px;
    margin-right: 10px;
}

.days {
	margin-top: 20px;
}
.days:first-child {
	margin-top: 0;
}

.col.image-gallery {
	padding: 0;
}

.col.site-body {
	text-align: center;
min-height: 100vh;
padding-top: 60px;
padding-bottom: 60px;
display: flex;
	.site-content {
		margin: auto;
		align-self: center;
	}
}

.area {
	margin-bottom: 30px;
}

.area:last-child {
	margin-bottom: 0;
}

.flexslider.gallery {
	height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
	box-shadow: none;
	.slides, .slides li {
		width: 100%;
		height: 100%;
		display: block;
	}
	.slides li {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.flex-control-nav, .flex-direction-nav {
		display: none;
	}
}

.col.full.mobile {
	padding: 0;
}

.roundel {
	position: absolute;
}

.page-template-page-splash {
	.site-header, .site-footer {
		display: none;
	}
}

.social-links a {
	margin-left: 12px;
	margin-right: 12px;
}

@media (min-width: 980.1px) {
	.mobile {
		display: none;
	}
	.roundel {
		left: 50%;
    bottom: 20px;
    margin-left: -165px;
    z-index: 9;
	}
}

@media (max-width: 980px) {
	.desktop {
		display: none;
	}
	.roundel {
		left: 50%;
    bottom: -125px;
    margin-left: -127.5px;
    z-index: 9;
	}
	.col.site-body {
		padding-bottom: 180px;
	}
	.mobile img {
		display: block;
	}
}

@media (max-width: 370px) {
	.roundel {
		width: 100%;
		left: 0;
		margin-left: 0;
		text-align: center;
		padding: 0 20px;
	}
}